<!DOCTYPE html>
<html lang="en">

    <meta charset="utf-8" />
    <title> <%=title%> </title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta
      content="World-affair for latest Update"
      name="keywords"
    />
  
  

    <!-- Favicon -->
    <link href="/img/favicon.ico" rel="icon" />
  
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet" />
  
    <!-- CSS Libraries -->
    <!-- <link href="/css/stackpath.css" rel="stylesheet" />
    <link href="/css/cdnjs.css" rel="stylesheet" /> -->
    
< 
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet" /> 
   
   



    <link href="lib/slick/slick.css" rel="stylesheet" />
    <link href="lib/slick/slick-theme.css" rel="stylesheet" />
  
    <!-- Template Stylesheet -->
    <link href="/css/style.css" rel="stylesheet" />


    <link href="/css/form.css" rel="stylesheet" />
    <link href="/css/singlenews.css" rel="stylesheet" />
    <link href="/css/Signup.css" rel="stylesheet" />
    <link href="/css/comment.css" rel="stylesheet" />
<!-- 
     <link href="/css/stackpath.css" rel="stylesheet" />
      <link href="/css/cdnjs.css" rel="stylesheet" /> -->

    </head>


</html>

