

<%- include('./includes/head.ejs') %>
 

<body>
    <%- include('./includes/navbar.ejs') %>
<div>

<h1 style="font-size: 100px;">coming soon</h1>

</div>
    <%- include('./includes/footer.ejs') %>
</body>
</html>