.btn-file {
  position: relative;
  overflow: hidden;
  color: rgb(23, 24, 24);
}

.btn-file input[type="text"] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

.container {
  padding-top: 6px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
main {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  text-align: center;
}
.option-input {
  margin-top: 20px;
}
.option {
  width: 500px;
  border: 2px solid rgb(204, 203, 203);
}
